---
import { getCollection, getEntryBySlug } from 'astro:content';
import BaseLayout from "@layouts/BaseLayout.astro";
import Videos from './Videos.astro';
import Timeline from './Timeline.astro';

// 1. Get the slug from the incoming server request
// const { project } = await getEntryBySlug('projects', 'en/enyimbaaba-2024');
const project = await getEntryBySlug('projects', 'en/ohia-restoration')
// 2. Query for the page directly using the request slug
const { Content } = await project?.render() ;
// console.log('<<<< INITIATIVES >>>>:',project.data)
const [lang, slug] = project.slug.split('/')
const partners = await getCollection('partners').then(partners => partners?.filter(p => p.slug === (project.data?.initiator[0].slug)))


---
<BaseLayout icon={project.data?.icon ? project.data?.icon : project?.data?.icon} pack={project.data?.pack ? project.data?.pack : project?.data?.pack} description={project.data?.seo?.imageAlt || project.data?.description} seoTitle={"ArtKids - " + project?.data?.title + " - " + project.data?.title} title={project?.data?.title} shortTitle={project.data?.shortTitle ? project.data?.shortTitle : project?.data?.shortTitle} image={project.data?.image} imageAlt={project.data?.imageAlt}>
	<!-- Section Started Heading -->
	<div class="section section-inner started-heading relative">
		<div class="aspect-video bg-cover bg-center w-full h-full transition-all duration-100 flex justify-start items-center bg-black/80" style={"background-image: url('" +  project.data?.image + "');"}>
			<iframe loading="lazy"  class="aspect-video w-full" allowed="autoplay"
    			src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGCnUFmOgo&#x2F;N3WbSFC38s_lm6x4O1BZMg&#x2F;watch?embed&autoplay=1" >
  			</iframe>
			<!-- titles -->
			<div class="portrait:hidden landscape:sm:hidden landscape:md:block h-titles card rounded-xl p-4 m-8 landscape:max-w-xl backdrop-blur bg-white/75 dark:bg-black/70 absolute left-0">
				{project?.data.subtitle &&
					<h3 class="text-red-600 unstyled drop-shadow text-lg font-bold" >{project?.data.subtitle}</h3>
				}
				<h2 class="marker text-primary-900-50 mb-4 unstyled drop-shadow landscape:text-xl landscape:xl:text-4xl portrait:text-2xl font-bold" >{project?.data?.title }</h2>
				<p>Support our Cause and donate to this Initiative.</p>
				<!-- <a href="/en/donations" class="btn rounded-lg variant-filled-primary mt-4">Donate</a> -->
			</div>
		</div>
	</div>

	<section class="bg-cover bg-center w-full" style={"background-image: url('https://source.unsplash.com/random?" + ( project?.data.tags ? project.data.tags.join('%20') : "Stage%20performance") + "');"}>
		<div class="bg-white/90 dark:bg-black/75 landscape:p-8 portrait:p-4 landscape:pt-16">

			<div class="mx-auto flex portrait:flex-col gap-8">
				<div class="landscape:w-2/3 text-lg mb-8">
					{project?.data.subtitle &&
					<h3 class="landscape:md:hidden text-red-600 unstyled drop-shadow text-md xl:text-lg font-bold" >{project?.data.subtitle}</h3>
					}
					<h2 class="landscape:md:hidden marker text-primary-900-50 mb-8 unstyled drop-shadow landscape:text-4xl portrait:text-3xl font-bold" >{project?.data?.title}</h2>
					<input id="read-more" type="checkbox" class="peer/read hidden" />
					<div class="overflow-hidden landscape:h-[25vh] portrait:h-24 peer-checked/read:h-auto prose max-w-none prose-stone space-y-6 prose-table:table-auto prose-p:text-lg prose-p:text-primary-900-50-token prose-headings:text-primary-900-50-toke mb-4">
						<Content />
					</div>

					<label for="read-more" class="hidden peer-checked/read:block btn rounded-lg variant-filled-primary max-w-md mx-auto">Read less</label>
					<label for="read-more" class="block peer-checked/read:hidden btn rounded-lg variant-filled-primary max-w-md mx-auto mb-8">Read more</label>

					<!--<Timeline /> -->
					<h2 class="text-primary-900-50 mb-8 unstyled drop-shadow landscape:text-4xl portrait:text-3xl font-bold" >Official openings Ceremony ~ 13-04-2024</h2>
					<h3 class="text-red-600 unstyled drop-shadow text-md xl:text-lg font-bold" >Video's</h3>
					<Videos />
				</div>
				<div class="sidebar flex flex-col gap-4 landscape:w-1/3">
					<p class="-mb-3 font-black">Project { lang == "en" ? "Initiator" : "Initiatiefnemer"}</p>
					{partners && partners?.map(initiator => (
					<div class="card variant-ghost-primary card-hover overflow-hidden w-full">
						<div class="listbox-item cursor-pointer -outline-offset-[3px] rounded-token px-4 py-2 variant-filled-primary " data-testid="listbox-item" role="option" aria-selected="true" tabindex="0">
							<div class="h-0 w-0 overflow-hidden">
								<input type="radio" name="people" value="[object Object]" tabindex="-1"></div>
								<div class="listbox-label flex items-center space-x-4"><div class="listbox-label-lead">
									<figure class="avatar flex aspect-square text-surface-50 font-semibold justify-center items-center overflow-hidden isolate bg-surface-400-500-token w-16 rounded-full" data-testid="avatar">
										<img class="avatar-image w-full h-full object-cover" src={initiator.data?.image} alt={initiator.data?.name + "'s Avatar"}>
									</figure>
								</div>
								<div class="listbox-label-content flex-1 ">
									{initiator.data?.name} ({initiator.data?.type})
								</div>
							</div>
						</div>
					</div>
					))}
				</div>
			</div>
		</div>
	</section>

</BaseLayout>